html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: .8em;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}