body, html {
    height: 100%;
}

a{
	word-break: break-all;
}

.parallax { 
	max-width: 800px;
	margin: 0 auto;

    /* The image used */
    background-image: url("../img/300dpi/first_background.png");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty_head{
	height: 20%;
}

.main_container{
	background-color: white;
	height: 80%;
	padding: 2em;
}

.img_name{
	/*width: 25em;*/
	height: 30%;
	margin:auto;
	display: block;
}

.data_list{
	padding-left: 1em;
}

.data_list li img {
	width: 1.5em;
	height: 1.7em;
}
.data_list li span{
	/*padding-left: 1em;*/
}
.table_skills{
	width: 100%
}
.table_skills .progress-bar{
	background-color: #AC473B;
}
.table_skills tr td:first-child{
	width: 25px;
}
.table_information{
	width: 80%;
	margin: 0 auto;
}
.table_information tr td:first-child{
	vertical-align: top;
  	text-align: left;
  	width: 80px;
}
.table_experience{
	margin: 0 auto;
	width: 90%;
}
.table_experience tr td:first-child{
	width: 20%;
}
.dot_format {
	height: 2px;
}
.carousel_scroll{
	/*overflow-y: scroll;*/
}
.carousel-border{
	border-style: solid;
	border-width: .12em;
	border-radius:1em;
	border-color: #BABABF;
	padding-left:2em;
	padding-top: 1em;
	padding-right: 2em;
	height: 440px;
	width: 90%;
}
.carousel_size{
	margin: auto;
}
.footer{
	padding-top: 1em;
}
.nav{
	background-color: #DDDDE0;
}
.nav-link{
	color: black;
}
.nav-link.active{
	background-color: black !important;
}
.job_icon{
	width: 5em;
}
.icon{
	position: absolute;
	left:0;
	top:0;
	width: 5em;
}
.carousel-indicators li{
	background-color:gray;
}
.carousel-indicators .active{
	background-color:black;
}
.circle{
	border-radius: 50%;
	height: .5em;
	width: .5em;
	background-color: #AC473B;
}
.circle_small{
	border-radius: 50%;
	height: .15em;
	width: .15em;
	background-color: #827476;
	margin: .4em auto;
}
.carousel-control-prev{
	display: none;
}
.carousel-control-next{
	display: none;
}

/*.circle:before {
  content: ' \25CF';
  font-size: 1em;
  color:#AC473B;
}
.circle_small:before {
  content: ' \25CF';
  font-size: .12em;
  color:#A09697;
}*/
/*#education_icon{
	background-repeat: repeat-x;
	background-image: url(../img/300dpi/education.png);
}*/