.header{
	height: 9em;
	background-image: url(../img/300dpi/first_background.png);
}

.name{
}

.data_text span{
	font-size: 1em;
	word-break: break-all;
}
.vertical_circle{
	border-radius: 50%;
	height: 1em;
	width: 1em;
	background-color: #00BABE;
	margin-left:.5em;
}
.vertical_circle_small{
	border-radius: 50%;
	height: .3em;
	width: .3em;
	background-color: #827476;
	float:left;
	margin-left:.5em;
	margin-top: .25em;
}
.circle{
	border-radius: 50%;
	height: 1em;
	width: 1em;
	background-color: #00BABE;
	float:left;
	margin-left:.5em;
}
.circle_small{
	border-radius: 50%;
	height: .3em;
	width: .3em;
	background-color: #827476;
	float:left;
	margin-left:.5em;
	margin-top: .25em;
}
.marco{
	margin-top: 2em;
	border-radius: 10%;
	border-color: #A09697;
	border-width: .13em;
	height: 300px;
	border-style: solid;
}
.marco1{
	margin-top:-15px;
}
.about_me{
    justify-content: center;
    width: 40%;
}
.marco p {
	margin-top:15px;
}
.progress-bar{
	background-color: #AC473B;
}